Django==1.7c1
GDAL==1.11.0
Markdown==2.4.1
django-bootstrap3==4.8.2
django-cors-headers==0.12
django-debug-toolbar==1.2.1
django-filter==0.7
django-leaflet==0.13.7
django-olwidget==0.61.0
djangorestframework==2.3.14
djangorestframework-gis==0.3
psycopg2==2.5.3
sqlparse==0.1.11
wsgiref==0.1.2
