.page {
  height: 100dvh;
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}

@media (max-width: 47.99em) {
  .page {
    height: calc(100dvh - 60px);
  }

  .page > :global(.mantine-Loader-root):only-child {
    margin: auto;
  }
}
