{% extends "base.html" %}

{% load bootstrap3 %}
{% load leaflet_tags %}   


{% block head_tail %}
   {% leaflet_js plugins="forms" %}
   {% leaflet_css plugins="forms" %}
{% endblock %}

{% block content %}

    <form method="POST" action="" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}


    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
    {% endbuttons %}
    
    </form>
 
<div>
    <a class="btn btn-danger" href="{% url "territory_delete" object.pk %}">
            {% bootstrap_icon "delete" %} Delete this territory
    </a>
</div>


{% endblock %}
 